@import "tailwindcss";

@theme {
  --color-ervo-brown: #8B4513;
  --color-ervo-dark-brown: #654321;
  --color-ervo-light-brown: #A0522D;
  --color-ibo-red: #A02D2D;
  
  --color-text-primary: #1F2937;
  --color-text-secondary: #4B5563;
  --color-text-tertiary: #6B7280;
  --color-text-light: #9CA3AF;
  
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F9FAFB;
  --color-bg-tertiary: #F3F4F6;
}

body {
  font-family: 'Montserrat', sans-serif;
}
